@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
  --background-color: #0f535c; /* Example color matching your header and footer */
}

body {
  background-color: var(--background-color);
}

// Global Styles
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F4F7FA; /* Light grey background */
}

a {
  text-decoration: none;
  color: inherit;
}

// Utility Classes for Responsive Design


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-bg);
}

.background {
  @apply flex items-center justify-center h-screen bg-gray-50;
}
// Custom utility classes
.btn-primary {
  @apply bg-[#FF5733] text-white font-semibold rounded-lg shadow-lg hover:bg-[#000] focus:outline-none focus:ring-2 focus:ring-[#000] focus:ring-opacity-50 transition;
}


.btn-secondary {
  @apply bg-gray-500 text-white font-semibold rounded-lg shadow-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 transition;
}

.hero {
  @apply relative text-white;
}

.section-padding {
  @apply py-16 px-6;
}


.logo {
  @apply w-24 h-auto mb-4;
}

.form-button {
  @apply bg-[#FF5733] text-white font-semibold rounded-lg shadow-lg py-3 px-6 border-none cursor-pointer transition-transform transform hover:bg-[#000] hover:scale-105;
}

.form-input {
  @apply border rounded-lg p-3 w-full mb-4 border-gray-300 focus:border-[#FF5733] focus:outline-none;
}

.progress-bar-container {
  @apply relative h-1 bg-gray-200 rounded-full mt-4;
}

.progress-bar {
  @apply absolute top-0 left-0 h-full bg-[#FF5733] rounded-full;
}